.activities {
  margin: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: relative;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: rigth;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  margin: 10px 0 20px 0;
}

.list span {
  margin: 5px;
  text-align: center;
}

.buttons {
  width: 40%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

button {
  border: 0 none;
  outline: 0;
  background-color: white;
}
