.chat {
  font-family: 'Roboto', sans-serif;
  width: 60rem;
}
.in_support_header {
  width: 60rem;
  padding: 2rem;
  height: 56px;

  background: #0aafe6;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: space-between;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chat_support {
  position: absolute;
  animation: up 1s;
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

.client .name {
  text-align: end;
}

.client .message {
  word-wrap: break-word;
  white-space: normal;
  display: block;
  background: #f2ecfa;
  padding: 20px 10px;
  margin: 10px 0;
  border-radius: 4px;
  line-height: 20px;
}

.text_support {
  padding: 2rem;
  border: 1px solid #cec9c9;
  height: 30rem;
  overflow-y: scroll;
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin .message {
  word-wrap: break-word;
  white-space: normal;
  display: block;
  background: #0aafe6;
  opacity: 0.6;
  color: black;
  padding: 20px 10px;
  margin: 10px 0;
  border-radius: 4px;
  line-height: 20px;
}

.message_send {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cec9c9;
  align-items: center;
}

.message_send input {
  outline: none;
  height: 34px;
  align-items: center;
  width: 57rem;
}

.send_message_button {
  display: flex;
  cursor: pointer;
  width: 2rem;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}

.text_help {
  padding-top: 8px;
}

.text_help textarea {
  width: 290px;
  height: 115px;

  padding: 10px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

.first_email {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.first_email input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 290px;
}

input[type='text']:focus {
  outline: 1px solid #a8a8a8;
}

button {
  color: #0aafe6;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #0aafe6;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.btn_cancel {
  border: 0;
  cursor: pointer;
  margin-right: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#txt_help:focus {
  outline: 1px solid #a8a8a8;
}

.charac_remaining {
  font-size: 10px;
  float: right;
}

.date {
  text-align: right;
  font-size: 1px;
}

.btn_atd {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: var(--color-first);
  color: white;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  margin: 1rem;
}

.list_users {
  width: 100%;
  margin: 3rem;
}

.btn_atd:hover {
  outline: none;
  filter: brightness(0.9);
}

.admin {
  border: 1px solid #ededed;
  margin-top: 5px;
}

.email {
  float: left;
  width: 350px;
}

.admin_send_message {
  display: flex;
  flex-direction: row;
}

.admin_send_message input {
  width: 300px;
  margin-right: 10px;
}

.admin_send_message button {
  width: 100px;
  cursor: pointer;
}

.admin_list_messages {
  height: 300px;
  overflow-y: scroll;
}

.admin_message_admin {
  width: 300px;
  background: #e0e0e0;
  padding: 10px;
  margin: 12px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  font-family: 'Roboto', sans-serif;
}

#atendimentos {
  width: 600px;
}

.admin_message_client {
  width: 300px;
  background: #0aafe6;
  padding: 10px;
  margin: 10px;
  color: #eee;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.admin_date {
  font-size: 10px;
  color: #fff;
}

.in_support {
  background: #0aafe6;
  color: #fff;
  font-size: 17px;
}

.btn_send {
  background: #0aafe6;
  color: #eee;
  border: none;
}

.btn_send:hover {
  opacity: 0.8;
}
