.teams {
  margin: 2rem;
}

.list {
  display: flex;
  align-items: left;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
}

.list span {
  width: 100%;
}

.buttons {
  width: 40%;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

.containerFiltroEstudantes{
  width: 100%;
  float: left;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

.container100{
  width: 100%;
  float: left;
  padding: 0 5px;
}

.container50{
  width: 50%;
  float: left;
  padding: 0 5px;
}

.container40{
  width: 40%;
  float: left;
  padding: 0 5px;
}

.container20{
  width: 20%;
  float: left;
  padding: 0 5px;
}

@media (max-width:767px) {
  .container20,
  .container40,
  .container50 {
    width: 100%;
  }
}