.header {
  display: block;
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: relative;
}

@media (max-width: 40rem) {
  .header {
    position: relative;

    width: 14em;
    margin-top: -0.5em;
  }
}
