.form {
  margin-bottom: 2rem;
  display: inline;
}

.lost {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
  line-height: 1;
}

.lost::after {
  content: "";
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}
